<h1>TOP 10 NEWS STORIES</h1>

<% @articles["articles"].each do |article| %>
<ul>
  <li>

<%= article["title"] %>
<br>
<%= article["author"] %>
<br>
<%= article["content"] %>
<%= article["urlToImage"] %>

  </li>

</ul>
<% end %>
